html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: 'Noto Serif JP', serif;
}

.gradient {
  background: rgb(0, 97, 242);
  background: linear-gradient(to right bottom, rgb(67, 139, 247) 40%, rgb(133, 0, 250) 100%);

}

.page-header {
  margin-top: 5rem;
  font-size: 1.25rem;
  color: white;
}

.feature {
  color: white;
  ul {
    padding-left: 2rem;
    list-style-type: none;
    li {
      padding-left: 2.4rem;
      background: url(../images/check.svg) no-repeat;
      line-height: 2rem;
      margin-bottom: 1rem;
    }
  }
}

.icon {
  color: #fff;
  height: 5rem;
  width: 5rem;
  font-size: 1.75rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  background: whitesmoke;
  img {
    border-radius: 5%;
  }
}

.services {
  color: #fff;
}

footer {
  color: #fff;
  margin: 0;
  font-size: 1rem;
  padding: 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}